.btn {
  padding: 0.8em 1.2em;
  font-size: 16px;
  line-height: 1em;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-color-anti);
  border: 1px solid var(--primary-color);
  border-radius: 0.4em;
  cursor: pointer;
  transition: all 0.3s;
}
.btn > .btn-icon {
  margin-left: 10px;
}
.btn:hover {
  background-color: var(--primary-color-dark);
  color: var(--primary-color-dark-anti);
}

.btn.btn-white {
  background-color: var(--primary-color-anti);
  color: var(--primary-color);
}
.btn.btn-white:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-anti);
}
